@import url("/static/css/bootstrap.dark.min.css");
@import url("/static/css/bootstrap.light.min.css");

@media (prefers-color-scheme: dark) {
    .navbar-brand {
        color: #fff !important;
    }

    .navbar-text {
        color: #c9c9c9 !important;
    }

    .card {
        border-radius: 7px !important;
    }

    .progress-bar {
        color: #fff !important;
        font-weight: bolder;
    }
}

.content {
    padding-top: 60px;
}

.navbar {
    border: none !important;
}

.navbar-brand {
    border: none !important;
}