<div class="widget col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
    {% include "widget/sys_info.html" %}
</div>
<div class="widget col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
    {% include "widget/cpu_info.html" %}
</div>
<div class="widget col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
    {% include "widget/mem_info.html" %}
</div>
<div class="widget col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
    {% include "widget/storage_info.html" %}
</div>
<div class="widget col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
    {% include "widget/services_info.html" %}
</div>
<div class="widget col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
    {% include "widget/network_info.html" %}
</div>
<div class="widget col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-4">
    {% include "widget/temperature_info.html" %}
</div>